<html>
    <head>
        <title>Kolya</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Kolya</a></h1>
        </div>

        <div>
            <p>published: 16.11.2020, 15:35</p>
            <h2><a href="">My first post</a></h2>
            <p>Далее выбираете место, где должен будет находиться этот файл, и нажимаете на кнопку сохранить.</p>
        </div>

        <div>
            <p>published: 17.11.2020, 11:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Обратите внимание, чтобы при сохранении вы случайно не убрали расширение html, которое присваивается файлу.</p>
        </div>
    </body>
</html>